/*  

 
.sidebar__logo-block{ 
    position: relative;
    display: flex;
    align-items: center; 
    justify-content: center ;
    margin-bottom: 40px;
    width: 200px !important;
}

.sider  {
    height: 100vh !important;
    position: sticky !important;
    left: 0;
    bottom: 0;
    top: 0;
    
    background-color: #fff;
    min-width: 250px !important;
  
}
@media screen and (max-width: 768px) {
    .sider {
        width: 100%;
        max-width: 500px;  
    }
}

.menu-bar{
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-weight: 500;
}
 
.ant-menu-item-selected{
    background-color: #4f6b42 !important;
    color: #fff !important;
}
.ant-menu-item{
   
    width: 10%;
    font-size: 20px;
    margin-bottom: 25px !important;
    list-style: none;
    padding: 15px 0;
    
}
.ant-menu-title-content{
    padding-left: 10px;
}

.logout-button {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
} */


/* .sider{
    height: 100vh;
    position: sticky !important;
    left: 0;
    bottom: 0;
    top: 0;
} */

 
.trigger{
    font-size: 16px;
    width: 50px;
    height: 50px;
    position: fixed;
    bottom: 10px;
    right: -30px;
    color: red !important;
    background-color: red !important;
}
.logo{
    color: #1890ff;
    margin: 30px 0;
    font-size: 1.5rem;
    text-align: center;
}